body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dark,
.container,
.boxes,
.quote_area,
.button_section {
    padding: 0 200px
}
/* Add each section of the site here. Applies the padding.*/

button {
    background-color: #3882F6;
    border: 4px solid #3882F6;
    border-radius: 5px;
    width: 175px;
    height: 45px;
    font-size: 20px;
    color: #F9FAF8;
}

.dark {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 90px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 25px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.head-links {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    gap: 20px;
}

.awesome {
    display: flex;
    justify-content: space-between;
}

.awesome-text {
    width: 400px;
    flex-wrap: wrap;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
}

.awesome img {
    width: 200px;
    height: auto;
}

.container p {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 40px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding-bottom: 50px;
}

.frame {
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 300px;
    width: 150px;
}

.frame img {
    border-radius: 25px;
    border: 4px solid #3882F6;
    max-width: 150px;
    height: auto;
}

.image-subtext {
    font-size: 18px;
    width: 150px;
    text-align: center;
}

.quote_area {
    background-color: #E5E7EB;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.quote{
    width: 660px;
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
}

.quote h3 {
    float: right;
    font-size: 24px;
    font-style: normal;
}

.button_section {
    display: flex;
    justify-content: center;
}

.button_area {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 750px;
    margin: 70px;
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 24px;
    color: #F9FAF8;
    padding: 30px;
}

.button_area_text {
    display: inline;
    padding: 0px;
    margin: 0px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

#button_white {
    display: flex;
    border: 3px solid #F9FAF8;
    margin: 80px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.footer {
    display: flex;
    flex: 1 1 auto;
    height: 72px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
}