body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dark,
.container {
    padding: 0 200px
}
/* Add each section of the site here. Applies the padding.*/


.dark {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.head-links {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    gap: 20px;
}

.awesome {
    display: flex;
    justify-content: space-between;
}

.awesome-text {
    width: 400px;
    flex-wrap: wrap;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
}

.awesome img {
    width: 200px;
    height: auto;
}

.container {
    
}

.container p {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 40px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

.box {
    border-radius: 25px;
    border: 4px solid #3882F6;
    width: 140px;
    height: 150px;
}

.quote_area {
    background-color: #E5E7EB;
}

.footer {
    display: flex;
    flex: 1 1 auto;
    height: 72px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
}