body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dark {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.head-links {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    gap: 20px;
}

.awesome {
    display: flex;
    justify-content: space-between;
}

.awesome-text {
    width: 400px;
    flex-wrap: wrap;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
}

.awesome img {
    
   
}

.footer {
    display: flex;
    flex: 1 1 auto;
    height: 72px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
}